<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>上海市</key>
	<string>9</string>
	<key>云南省</key>
	<string>30</string>
	<key>内蒙古自治区</key>
	<string>5</string>
	<key>北京市</key>
	<string>1</string>
	<key>台湾省</key>
	<string>32</string>
	<key>吉林省</key>
	<string>7</string>
	<key>四川省</key>
	<string>28</string>
	<key>天津市</key>
	<string>2</string>
	<key>宁夏回族自治区</key>
	<string>26</string>
	<key>安徽省</key>
	<string>12</string>
	<key>山东省</key>
	<string>15</string>
	<key>山西省</key>
	<string>4</string>
	<key>广东省</key>
	<string>19</string>
	<key>广西壮族自治区</key>
	<string>21</string>
	<key>新疆维吾尔自治区</key>
	<string>24</string>
	<key>江苏省</key>
	<string>10</string>
	<key>江西省</key>
	<string>14</string>
	<key>河北省</key>
	<string>3</string>
	<key>河南省</key>
	<string>16</string>
	<key>浙江省</key>
	<string>11</string>
	<key>海南省</key>
	<string>20</string>
	<key>湖北省</key>
	<string>17</string>
	<key>湖南省</key>
	<string>18</string>
	<key>澳门特别行政区</key>
	<string>33</string>
	<key>甘肃省</key>
	<string>22</string>
	<key>福建省</key>
	<string>13</string>
	<key>西藏自治区</key>
	<string>31</string>
	<key>贵州省</key>
	<string>29</string>
	<key>辽宁省</key>
	<string>6</string>
	<key>重庆市</key>
	<string>27</string>
	<key>陕西省</key>
	<string>23</string>
	<key>青海省</key>
	<string>25</string>
	<key>香港特别行政区</key>
	<string>34</string>
	<key>黑龙江省</key>
	<string>8</string>
</dict>
</plist>
