<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>上海市</key>
	<dict>
		<key>上海市</key>
		<string>3</string>
	</dict>
	<key>云南省</key>
	<dict>
		<key>临沧市</key>
		<string>285</string>
		<key>丽江市</key>
		<string>288</string>
		<key>保山市</key>
		<string>280</string>
		<key>大理白族自治州</key>
		<string>277</string>
		<key>德宏傣族景颇族自治州</key>
		<string>274</string>
		<key>怒江傈傈族自治州</key>
		<string>286</string>
		<key>文山壮族苗族自治州</key>
		<string>281</string>
		<key>昆明市</key>
		<string>276</string>
		<key>昭通市</key>
		<string>275</string>
		<key>普洱市</key>
		<string>284</string>
		<key>曲靖市</key>
		<string>279</string>
		<key>楚雄彝族自治州</key>
		<string>283</string>
		<key>玉溪市</key>
		<string>282</string>
		<key>红河哈尼族彝族自治州</key>
		<string>278</string>
		<key>西双版纳傣族自治州</key>
		<string>273</string>
		<key>迪庆藏族自治州</key>
		<string>287</string>
	</dict>
	<key>内蒙古自治区</key>
	<dict>
		<key>乌兰察布市</key>
		<string>355</string>
		<key>乌海市</key>
		<string>354</string>
		<key>兴安盟</key>
		<string>361</string>
		<key>包头市</key>
		<string>353</string>
		<key>呼伦贝尔市</key>
		<string>351</string>
		<key>呼和浩特市</key>
		<string>352</string>
		<key>巴彦淖尔市</key>
		<string>359</string>
		<key>赤峰市</key>
		<string>357</string>
		<key>通辽市</key>
		<string>356</string>
		<key>鄂尔多斯市</key>
		<string>358</string>
		<key>锡林郭勒盟</key>
		<string>360</string>
		<key>阿拉善盟</key>
		<string>362</string>
	</dict>
	<key>北京市</key>
	<dict>
		<key>北京市</key>
		<string>1</string>
	</dict>
	<key>台湾省</key>
	<dict>
		<key>台中市</key>
		<string>366</string>
		<key>台北市</key>
		<string>363</string>
		<key>台南市</key>
		<string>367</string>
		<key>嘉义市</key>
		<string>369</string>
		<key>基隆市</key>
		<string>365</string>
		<key>新竹市</key>
		<string>368</string>
		<key>高雄市</key>
		<string>364</string>
	</dict>
	<key>吉林省</key>
	<dict>
		<key>吉林市</key>
		<string>42</string>
		<key>四平市</key>
		<string>44</string>
		<key>延边朝鲜族自治州</key>
		<string>43</string>
		<key>松原市</key>
		<string>48</string>
		<key>白城市</key>
		<string>46</string>
		<key>白山市</key>
		<string>49</string>
		<key>辽源市</key>
		<string>47</string>
		<key>通化市</key>
		<string>45</string>
		<key>长春市</key>
		<string>41</string>
	</dict>
	<key>四川省</key>
	<dict>
		<key>乐山市</key>
		<string>238</string>
		<key>内江市</key>
		<string>237</string>
		<key>凉山彝族自治州</key>
		<string>240</string>
		<key>南充市</key>
		<string>229</string>
		<key>宜宾市</key>
		<string>235</string>
		<key>巴中市</key>
		<string>233</string>
		<key>广元市</key>
		<string>245</string>
		<key>广安市</key>
		<string>232</string>
		<key>德阳市</key>
		<string>244</string>
		<key>成都市</key>
		<string>225</string>
		<key>攀枝花市</key>
		<string>226</string>
		<key>泸州市</key>
		<string>234</string>
		<key>甘孜藏族自治州</key>
		<string>242</string>
		<key>眉山市</key>
		<string>239</string>
		<key>绵阳市</key>
		<string>228</string>
		<key>自贡市</key>
		<string>227</string>
		<key>资阳市</key>
		<string>236</string>
		<key>达州市</key>
		<string>230</string>
		<key>遂宁市</key>
		<string>231</string>
		<key>阿坝藏族羌族自治州</key>
		<string>243</string>
		<key>雅安市</key>
		<string>241</string>
	</dict>
	<key>天津市</key>
	<dict>
		<key>天津市</key>
		<string>2</string>
	</dict>
	<key>宁夏回族自治区</key>
	<dict>
		<key>中卫市</key>
		<string>332</string>
		<key>吴忠市</key>
		<string>330</string>
		<key>固原市</key>
		<string>331</string>
		<key>石嘴山市</key>
		<string>329</string>
		<key>银川市</key>
		<string>328</string>
	</dict>
	<key>安徽省</key>
	<dict>
		<key>亳州市</key>
		<string>101</string>
		<key>六安市</key>
		<string>100</string>
		<key>合肥市</key>
		<string>87</string>
		<key>安庆市</key>
		<string>94</string>
		<key>宣城市</key>
		<string>103</string>
		<key>宿州市</key>
		<string>98</string>
		<key>巢湖市</key>
		<string>99</string>
		<key>池州市</key>
		<string>102</string>
		<key>淮北市</key>
		<string>92</string>
		<key>淮南市</key>
		<string>90</string>
		<key>滁州市</key>
		<string>96</string>
		<key>芜湖市</key>
		<string>88</string>
		<key>蚌埠市</key>
		<string>89</string>
		<key>铜陵市</key>
		<string>93</string>
		<key>阜阳市</key>
		<string>97</string>
		<key>马鞍山市</key>
		<string>91</string>
		<key>黄山市</key>
		<string>95</string>
	</dict>
	<key>山东省</key>
	<dict>
		<key>东营市</key>
		<string>135</string>
		<key>临沂市</key>
		<string>133</string>
		<key>威海市</key>
		<string>136</string>
		<key>德州市</key>
		<string>128</string>
		<key>日照市</key>
		<string>138</string>
		<key>枣庄市</key>
		<string>137</string>
		<key>泰安市</key>
		<string>132</string>
		<key>济南市</key>
		<string>125</string>
		<key>济宁市</key>
		<string>131</string>
		<key>淄博市</key>
		<string>127</string>
		<key>滨州市</key>
		<string>134</string>
		<key>潍坊市</key>
		<string>130</string>
		<key>烟台市</key>
		<string>129</string>
		<key>聊城市</key>
		<string>140</string>
		<key>莱芜市</key>
		<string>139</string>
		<key>菏泽市</key>
		<string>124</string>
		<key>青岛市</key>
		<string>126</string>
	</dict>
	<key>山西省</key>
	<dict>
		<key>临汾市</key>
		<string>24</string>
		<key>吕梁市</key>
		<string>25</string>
		<key>大同市</key>
		<string>19</string>
		<key>太原市</key>
		<string>18</string>
		<key>忻州市</key>
		<string>17</string>
		<key>晋中市</key>
		<string>21</string>
		<key>晋城市</key>
		<string>23</string>
		<key>朔州市</key>
		<string>16</string>
		<key>运城市</key>
		<string>26</string>
		<key>长治市</key>
		<string>22</string>
		<key>阳泉市</key>
		<string>20</string>
	</dict>
	<key>广东省</key>
	<dict>
		<key>东莞市</key>
		<string>210</string>
		<key>中山市</key>
		<string>205</string>
		<key>云浮市</key>
		<string>208</string>
		<key>佛山市</key>
		<string>202</string>
		<key>广州市</key>
		<string>190</string>
		<key>惠州市</key>
		<string>195</string>
		<key>揭阳市</key>
		<string>193</string>
		<key>梅州市</key>
		<string>198</string>
		<key>汕头市</key>
		<string>199</string>
		<key>汕尾市</key>
		<string>191</string>
		<key>江门市</key>
		<string>196</string>
		<key>河源市</key>
		<string>206</string>
		<key>深圳市</key>
		<string>200</string>
		<key>清远市</key>
		<string>207</string>
		<key>湛江市</key>
		<string>204</string>
		<key>潮州市</key>
		<string>209</string>
		<key>珠海市</key>
		<string>201</string>
		<key>肇庆市</key>
		<string>203</string>
		<key>茂名市</key>
		<string>194</string>
		<key>阳江市</key>
		<string>192</string>
		<key>韶关市</key>
		<string>197</string>
	</dict>
	<key>广西壮族自治区</key>
	<dict>
		<key>北海市</key>
		<string>320</string>
		<key>南宁市</key>
		<string>308</string>
		<key>崇左市</key>
		<string>309</string>
		<key>来宾市</key>
		<string>310</string>
		<key>柳州市</key>
		<string>311</string>
		<key>桂林市</key>
		<string>312</string>
		<key>梧州市</key>
		<string>313</string>
		<key>河池市</key>
		<string>319</string>
		<key>玉林市</key>
		<string>316</string>
		<key>百色市</key>
		<string>317</string>
		<key>贵港市</key>
		<string>315</string>
		<key>贺州市</key>
		<string>314</string>
		<key>钦州市</key>
		<string>318</string>
		<key>防城港市</key>
		<string>307</string>
	</dict>
	<key>新疆维吾尔自治区</key>
	<dict>
		<key>乌鲁木齐市</key>
		<string>340</string>
		<key>五家渠市</key>
		<string>343</string>
		<key>伊犁哈萨克自治州</key>
		<string>350</string>
		<key>克孜勒苏柯尔克孜自治州</key>
		<string>337</string>
		<key>克拉玛依市</key>
		<string>339</string>
		<key>博尔塔拉蒙古自治州</key>
		<string>338</string>
		<key>吐鲁番地区</key>
		<string>344</string>
		<key>和田地区</key>
		<string>335</string>
		<key>哈密地区</key>
		<string>334</string>
		<key>喀什地区</key>
		<string>348</string>
		<key>图木舒克市</key>
		<string>349</string>
		<key>塔城地区</key>
		<string>333</string>
		<key>巴音郭楞蒙古自治州</key>
		<string>345</string>
		<key>昌吉回族自治州</key>
		<string>342</string>
		<key>石河子市</key>
		<string>341</string>
		<key>阿克苏地区</key>
		<string>346</string>
		<key>阿勒泰地区</key>
		<string>336</string>
		<key>阿拉尔市</key>
		<string>347</string>
	</dict>
	<key>江苏省</key>
	<dict>
		<key>南京市</key>
		<string>63</string>
		<key>南通市</key>
		<string>67</string>
		<key>宿迁市</key>
		<string>75</string>
		<key>常州市</key>
		<string>73</string>
		<key>徐州市</key>
		<string>70</string>
		<key>扬州市</key>
		<string>68</string>
		<key>无锡市</key>
		<string>64</string>
		<key>泰州市</key>
		<string>74</string>
		<key>淮安市</key>
		<string>71</string>
		<key>盐城市</key>
		<string>69</string>
		<key>苏州市</key>
		<string>66</string>
		<key>连云港市</key>
		<string>72</string>
		<key>镇江市</key>
		<string>65</string>
	</dict>
	<key>江西省</key>
	<dict>
		<key>上饶市</key>
		<string>117</string>
		<key>九江市</key>
		<string>116</string>
		<key>南昌市</key>
		<string>115</string>
		<key>吉安市</key>
		<string>120</string>
		<key>宜春市</key>
		<string>119</string>
		<key>抚州市</key>
		<string>118</string>
		<key>新余市</key>
		<string>114</string>
		<key>景德镇市</key>
		<string>122</string>
		<key>萍乡市</key>
		<string>123</string>
		<key>赣州市</key>
		<string>121</string>
		<key>鹰潭市</key>
		<string>113</string>
	</dict>
	<key>河北省</key>
	<dict>
		<key>保定市</key>
		<string>7</string>
		<key>唐山市</key>
		<string>10</string>
		<key>廊坊市</key>
		<string>11</string>
		<key>张家口市</key>
		<string>8</string>
		<key>承德市</key>
		<string>9</string>
		<key>沧州市</key>
		<string>12</string>
		<key>石家庄市</key>
		<string>6</string>
		<key>衡水市</key>
		<string>13</string>
		<key>邢台市</key>
		<string>14</string>
		<key>邯郸市</key>
		<string>5</string>
	</dict>
	<key>河南省</key>
	<dict>
		<key>三门峡市</key>
		<string>158</string>
		<key>信阳市</key>
		<string>147</string>
		<key>南阳市</key>
		<string>148</string>
		<key>周口市</key>
		<string>155</string>
		<key>商丘市</key>
		<string>141</string>
		<key>安阳市</key>
		<string>143</string>
		<key>平顶山市</key>
		<string>146</string>
		<key>开封市</key>
		<string>149</string>
		<key>新乡市</key>
		<string>144</string>
		<key>洛阳市</key>
		<string>150</string>
		<key>济源市</key>
		<string>151</string>
		<key>漯河市</key>
		<string>156</string>
		<key>濮阳市</key>
		<string>154</string>
		<key>焦作市</key>
		<string>152</string>
		<key>许昌市</key>
		<string>145</string>
		<key>郑州市</key>
		<string>142</string>
		<key>驻马店市</key>
		<string>157</string>
		<key>鹤壁市</key>
		<string>153</string>
	</dict>
	<key>浙江省</key>
	<dict>
		<key>丽水市</key>
		<string>84</string>
		<key>台州市</key>
		<string>86</string>
		<key>嘉兴市</key>
		<string>80</string>
		<key>宁波市</key>
		<string>81</string>
		<key>杭州市</key>
		<string>78</string>
		<key>温州市</key>
		<string>83</string>
		<key>湖州市</key>
		<string>79</string>
		<key>绍兴市</key>
		<string>82</string>
		<key>舟山市</key>
		<string>76</string>
		<key>衢州市</key>
		<string>77</string>
		<key>金华市</key>
		<string>85</string>
	</dict>
	<key>海南省</key>
	<dict>
		<key>万宁市</key>
		<string>261</string>
		<key>三亚市</key>
		<string>256</string>
		<key>东方市</key>
		<string>262</string>
		<key>临高县</key>
		<string>266</string>
		<key>乐东黎族自治县</key>
		<string>269</string>
		<key>五指山市</key>
		<string>257</string>
		<key>保亭黎族苗族自治县</key>
		<string>271</string>
		<key>儋州市</key>
		<string>259</string>
		<key>定安县</key>
		<string>264</string>
		<key>屯昌县</key>
		<string>265</string>
		<key>文昌市</key>
		<string>260</string>
		<key>昌江黎族自治县</key>
		<string>268</string>
		<key>海口市</key>
		<string>255</string>
		<key>澄迈县</key>
		<string>263</string>
		<key>琼中黎族苗族自治县</key>
		<string>272</string>
		<key>琼海市</key>
		<string>258</string>
		<key>白沙黎族自治县</key>
		<string>267</string>
		<key>陵水黎族自治县</key>
		<string>270</string>
	</dict>
	<key>湖北省</key>
	<dict>
		<key>仙桃市</key>
		<string>173</string>
		<key>十堰市</key>
		<string>170</string>
		<key>咸宁市</key>
		<string>165</string>
		<key>天门市</key>
		<string>174</string>
		<key>孝感市</key>
		<string>162</string>
		<key>宜昌市</key>
		<string>167</string>
		<key>恩施土家族苗族自治州</key>
		<string>168</string>
		<key>武汉市</key>
		<string>159</string>
		<key>潜江市</key>
		<string>175</string>
		<key>神农架林区</key>
		<string>169</string>
		<key>荆州市</key>
		<string>166</string>
		<key>荆门市</key>
		<string>172</string>
		<key>襄樊市</key>
		<string>160</string>
		<key>鄂州市</key>
		<string>161</string>
		<key>随州市</key>
		<string>171</string>
		<key>黄冈市</key>
		<string>163</string>
		<key>黄石市</key>
		<string>164</string>
	</dict>
	<key>湖南省</key>
	<dict>
		<key>娄底市</key>
		<string>184</string>
		<key>岳阳市</key>
		<string>176</string>
		<key>常德市</key>
		<string>182</string>
		<key>张家界市</key>
		<string>187</string>
		<key>怀化市</key>
		<string>188</string>
		<key>株洲市</key>
		<string>179</string>
		<key>永州市</key>
		<string>189</string>
		<key>湘潭市</key>
		<string>178</string>
		<key>湘西土家族苗族自治州</key>
		<string>186</string>
		<key>益阳市</key>
		<string>183</string>
		<key>衡阳市</key>
		<string>180</string>
		<key>邵阳市</key>
		<string>185</string>
		<key>郴州市</key>
		<string>181</string>
		<key>长沙市</key>
		<string>177</string>
	</dict>
	<key>澳门特别行政区</key>
	<dict>
		<key>澳门特别行政区</key>
		<string>370</string>
	</dict>
	<key>甘肃省</key>
	<dict>
		<key>临夏回族自治州</key>
		<string>223</string>
		<key>兰州市</key>
		<string>211</string>
		<key>嘉峪关市</key>
		<string>215</string>
		<key>天水市</key>
		<string>214</string>
		<key>定西市</key>
		<string>221</string>
		<key>平凉市</key>
		<string>218</string>
		<key>庆阳市</key>
		<string>220</string>
		<key>张掖市</key>
		<string>217</string>
		<key>武威市</key>
		<string>216</string>
		<key>甘南藏族自治州</key>
		<string>224</string>
		<key>白银市</key>
		<string>213</string>
		<key>酒泉市</key>
		<string>219</string>
		<key>金昌市</key>
		<string>212</string>
		<key>陇南市</key>
		<string>222</string>
	</dict>
	<key>福建省</key>
	<dict>
		<key>三明市</key>
		<string>111</string>
		<key>南平市</key>
		<string>112</string>
		<key>厦门市</key>
		<string>105</string>
		<key>宁德市</key>
		<string>106</string>
		<key>泉州市</key>
		<string>108</string>
		<key>漳州市</key>
		<string>109</string>
		<key>福州市</key>
		<string>104</string>
		<key>莆田市</key>
		<string>107</string>
		<key>龙岩市</key>
		<string>110</string>
	</dict>
	<key>西藏自治区</key>
	<dict>
		<key>山南地区</key>
		<string>323</string>
		<key>拉萨市</key>
		<string>321</string>
		<key>日喀则地区</key>
		<string>322</string>
		<key>昌都地区</key>
		<string>325</string>
		<key>林芝地区</key>
		<string>324</string>
		<key>那曲地区</key>
		<string>326</string>
		<key>阿里地区</key>
		<string>327</string>
	</dict>
	<key>贵州省</key>
	<dict>
		<key>六盘水市</key>
		<string>253</string>
		<key>安顺市</key>
		<string>248</string>
		<key>毕节地区</key>
		<string>252</string>
		<key>贵阳市</key>
		<string>246</string>
		<key>遵义市</key>
		<string>247</string>
		<key>铜仁地区</key>
		<string>251</string>
		<key>黔东南苗族侗族自治州</key>
		<string>250</string>
		<key>黔南布依族苗族自治州</key>
		<string>249</string>
		<key>黔西南布依族苗族自治州</key>
		<string>254</string>
	</dict>
	<key>辽宁省</key>
	<dict>
		<key>丹东市</key>
		<string>33</string>
		<key>大连市</key>
		<string>29</string>
		<key>抚顺市</key>
		<string>31</string>
		<key>朝阳市</key>
		<string>38</string>
		<key>本溪市</key>
		<string>32</string>
		<key>沈阳市</key>
		<string>27</string>
		<key>盘锦市</key>
		<string>39</string>
		<key>营口市</key>
		<string>35</string>
		<key>葫芦岛市</key>
		<string>40</string>
		<key>辽阳市</key>
		<string>37</string>
		<key>铁岭市</key>
		<string>28</string>
		<key>锦州市</key>
		<string>34</string>
		<key>阜新市</key>
		<string>36</string>
		<key>鞍山市</key>
		<string>30</string>
	</dict>
	<key>重庆市</key>
	<dict>
		<key>重庆市</key>
		<string>4</string>
	</dict>
	<key>陕西省</key>
	<dict>
		<key>咸阳市</key>
		<string>298</string>
		<key>商洛市</key>
		<string>302</string>
		<key>安康市</key>
		<string>303</string>
		<key>宝鸡市</key>
		<string>305</string>
		<key>延安市</key>
		<string>299</string>
		<key>榆林市</key>
		<string>300</string>
		<key>汉中市</key>
		<string>304</string>
		<key>渭南市</key>
		<string>301</string>
		<key>西安市</key>
		<string>297</string>
		<key>铜川市</key>
		<string>306</string>
	</dict>
	<key>青海省</key>
	<dict>
		<key>果洛藏族自治州</key>
		<string>294</string>
		<key>海东地区</key>
		<string>291</string>
		<key>海北藏族自治州</key>
		<string>289</string>
		<key>海南藏族自治州</key>
		<string>293</string>
		<key>海西蒙古族藏族自治州</key>
		<string>296</string>
		<key>玉树藏族自治州</key>
		<string>295</string>
		<key>西宁市</key>
		<string>290</string>
		<key>黄南藏族自治州</key>
		<string>292</string>
	</dict>
	<key>香港特别行政区</key>
	<dict>
		<key>香港特别行政区</key>
		<string>371</string>
	</dict>
	<key>黑龙江省</key>
	<dict>
		<key>七台河市</key>
		<string>54</string>
		<key>伊春市</key>
		<string>61</string>
		<key>佳木斯市</key>
		<string>55</string>
		<key>双鸭山市</key>
		<string>57</string>
		<key>哈尔滨市</key>
		<string>50</string>
		<key>大兴安岭地区</key>
		<string>60</string>
		<key>大庆市</key>
		<string>62</string>
		<key>牡丹江市</key>
		<string>53</string>
		<key>绥化市</key>
		<string>58</string>
		<key>鸡西市</key>
		<string>52</string>
		<key>鹤岗市</key>
		<string>56</string>
		<key>黑河市</key>
		<string>59</string>
		<key>齐齐哈尔市</key>
		<string>51</string>
	</dict>
</dict>
</plist>
